section {
    background-color: #0d1117 !important;
    border: 1px solid #30363d !important;
    border-radius: 5px;
}

section:hover {
    transform: scale(1.006);
    cursor: pointer;
}

img {
    border-radius: 5px;
    float: left;
    margin-right: 12px;
}

.object-name {
    padding: 5px 20px 0;
    font-size: 15px;
}

p {
    margin-bottom: 0;
    color: #8b949e;
}