section {
    background-color: #0d1117 !important;
    border: 1px solid #30363d !important;
    border-radius: 5px;
}

.map-container {
    min-height: 400px;
    margin: 12px;
}

.map-placeholder {
    min-height: 400px;
    width: 56%;
    margin: 12px;
}

#map {
    height: 86vh;
    width: auto;
}
